In [ ]:
def f1():
  global x
  x='prajakta'
  print("My name is",x)
  print(x)
f1()

My name is prajakta
prajakta

In [ ]:

print(x)

prajakta

In [ ]:
#get all key word in python
important keyword
print(keyword,

In [ ]:
#type of function
x,y,z=5,"global",2.1
print(x) 
print(type(x)) 
print(y) 
print(type(y))
print(z) 
print(type(z))

5
<class 'int'>
global
<class 'str'>
2.1
<class 'float'>

In [ ]:
#Convert int,float to complex
X=complex(x)
print(X)
#we can't convert string value in compex
Z=complex(z)
print(Z)

(5+0j)
(2.1+0j)

In [ ]:
Name="Prajakta"
Sirname="Shinde"
print(Name + Sirname) 
a=2.3
print(a) 
A=int(a)
print(A) 
b=312
print(b) 
B=float(b) 
c=3
print(c) 
C=int(c)
print(complex(a,b))

PrajaktaShinde
2.3
2
312
3
(2.3+312j)

In [ ]:
a=" Hi how are you? from where there."
print(a) 
print(a.strip()) 
print(a.lower()) 
print(a.upper())

 Hi how are you? from where there.
Hi how are you? from where there.
 hi how are you? from where there.
 HI HOW ARE YOU? FROM WHERE THERE.

In [ ]:
age=21
txt="my name is prajakta, and i am {} years old."
print(txt.format(age))
p="Prajakta"
quantity=3
item="Bread"
prices=500
Class="Tybsc"
Clg="SPC"
P="I want {} pieces of {} for {} rupees. My name is {}.I am {} year old. I am student of {} of {} clg"
print(P.format(quantity,item,prices,p,age,Class,Clg))

my name is prajakta, and i am 21 years old.
I want 3 pieces of Bread for 500 rupees. My name is Prajakta.I am 21 year old. I am student of Tybsc of SPC clg

In [ ]:
 #Escape Character
Txt="He is too\"smart\" as I said"
print(Txt)

He is too"smart" as I said